@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Work+Sans:wght@300&display=swap");

$primary-dark-color: #2596be;
$primary-dark-darker-color: #1d7999;

$bg-dark-color: #121212;
$fg-dark-color: #d6ddd6;

$nav-bg-dark: #292a2f;

$fg-dark-darker-color: #a6a6a6;

$nav-height: 140px;

body {
	overflow-x: hidden;
	background-color: #121212;
}

.wrapper {
	position: relative;
	left: 10vw;

	width: 80vw;
	height: 100%;
}

.codespace-btn {
	padding: 1rem;

	background-color: $primary-dark-color;
	color: $fg-dark-color;

	border-radius: 13px;
	border: none;

	font-size: 1.5rem;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

	width: 100vw;
	height: $nav-height;

	background-color: $nav-bg-dark;

	> .wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		user-select: none;

		#logo-div {
			color: $primary-dark-color;

			font-size: 4vw;
			font-family: "Fredoka One", sans-serif;

			user-select: none;

			transform: translateY(-10%);
		}

		#nav-div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-family: "Work Sans", sans-serif;

			width: 50%;

			a {
				color: $fg-dark-color;
				transition: color linear 0.09s;

				text-decoration: none;
				font-size: 20pt;
				user-select: none;

				&:hover {
					color: $fg-dark-darker-color;

					&::after {
						content: " ";
						display: block;

						position: relative;
						animation: scale-x forwards 0.8s;
						height: 1px;
						background-color: $fg-dark-darker-color;
					}
				}
			}

			#nav-btn-div {
				display: flex;
				justify-content: center;
				align-items: center;

				button {
					cursor: pointer;
					user-select: none;

					transition: background-color 0.2s;
					box-sizing: border-box;

					&:hover {
						color: white;
						background-color: $primary-dark-darker-color;
					}

					&:active {
						transform: scale(0.9);
					}

					&:focus {
						background-color: $primary-dark-darker-color;
						box-shadow: 0 0 0 2px $primary-dark-color;
					}
				}
			}
		}
	}
}
.content {
	width: 90vw;
	background-color: #121212;

	.side-bar {
		display: flex;
		flex-direction: column;
		position: fixed;
		padding-top: 5vw;
		
		list-style-type: none;

		top: $nav-height;
		left: 0;

		background-color: #15202b;
		height: calc(100vh - $nav-height);
		width: 10vw;  
		.side-bar-element-wrapper {
			display: flex;
			align-items: center;
			width: 100%;
			height: 3vw;

			.side-bar-elements {
				text-decoration: none;
				color: $fg-dark-color;
				text-align: right;
				margin-left: 1vw;
				font-size: 14pt;
				transition: padding .5s ease-out;
				font-family: "Work Sans", sans-serif;
			}
			.side-bar-elements:hover {
				padding-left: 1.5vw;
			}
		}
	}

	.main-content {
		font-family: "Work Sans", sans-serif;
		position: absolute;
		top: $nav-height;
		left: 10vw;
		width: 80vw; 
		margin: 2vw;
		
		.heading {
			color: $primary-dark-color;

			font-size: 4rem;
			align-content: left;
			font-family: "Work Sans", sans-serif;
			font-weight: 900;
			user-select: none;
		}

		.part {

			.small-heading {
				color: $fg-dark-color;
				font-size: 25pt;
				font-weight: 700;
				margin-left: 1vw;
			} 
			.text {
				color: $fg-dark-color;
				margin-left: 1vw;
				font-size: 16pt;
				font-weight: 500;
				padding-bottom: 15px;
			
				.text-link {
					text-decoration: none;
					color: $primary-dark-color;
				}
			}

			.text-break {
				width: 75vw;
				margin-bottom: 2vw;
				margin-left: 1vw;
			}
		}

		.code-example-box {
			width: 75vw;

			background-color: #38444d;
			border-radius: 6px;
			
			margin-bottom: 10vh;
			padding: 0.8vw;

			.code-example-heading {
				font-size: 22pt;
				color: $fg-dark-color;
				padding: 0 0.2vw;
				margin: 2.5vh 0;
			}
			.code-example {
				padding: 2vw;
				background-color: #15202b;
				.code {
					color: $fg-dark-color;
					font-size: 16pt;
					margin: 10px;
				}
			}
		}
	}
}