@import '../../scss/vars.scss';

body {
	background-color: $bg-dark-color;
}

.side-bar {
	position: fixed;
	top: $nav-height;
	left: 0;

	display: flex;
	flex-direction: column;

	width: $aside-width;
	height: calc(100vh - $nav-height - $footer-height);

	background-color: rgba($bg-dark-color, 52);

	.side-bar-element-wrapper {
		display: flex;
		align-items: center;
		width: 100%;

		.side-bar-elements {
			width: 100%;
			margin-left: 1vw;
			padding: 1vw 0;

			text-align: left;

			text-decoration: none;

			font-size: 14pt;
			font-family: $primary-font;

			color: $fg-dark-color;

			transition: padding-left ease-in 0.3s;

			&:hover {
				padding-left: 1.5vw;

				filter: brightness(0.9);
			}
		}
	}
}

.content {
	position: absolute;
	top: $nav-height;
	right: 0;

	width: calc(100vw - $aside-width);

	background-color: $bg-dark-color;

	.main-content {
		width: 100%;
		font-family: $primary-font;
	}

	.footer-wrapper {
		margin-top: calc($footer-height / 4);
		transform: translateX(-$aside-width);
	}
}

.heading {
	align-content: left;

	font-size: 4rem;
	font-family: $primary-font;

	color: $primary-dark-color;

	user-select: none;
}

.small-heading {
	color: $fg-dark-color;
	font-size: 25pt;
	font-weight: 700;
}

.text {
	color: $fg-dark-color;
	font-size: 16pt;
	font-weight: 500;
	padding-bottom: 15px;
}

.text-link {
	text-decoration: none;
	color: $primary-dark-color;
}

.text-break {
	margin: 1vw 0;
	width: 75vw;
}

.code-example-box {
	background-color: $nav-bg-dark;
	border-radius: 6px;

	padding: 0.7vw;

	.code-example-heading {
		font-size: 22pt;
		color: $fg-dark-color;
		padding: 0 0.2vw;
		margin: 2.5vh 0;
	}

	.code-example {
		padding: 2vw;
		background-color: $bg-dark-color;
		.code {
			color: $fg-dark-color;
			font-size: 16pt;
			margin: 10px;
		}
	}
}
