@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1b;
}

::-webkit-scrollbar-thumb {
  background: #6a6b6b;
  opacity: 0.1;
}

.wrapper {
  position: relative;
  left: 10vw;

  width: 80vw;
  height: 100%;
}

.codespace-btn {
  padding: 1rem;

  background-color: var(--btn-codespace-bg);
  color: var(--btn-codespace-fg);

  border-radius: 13px;
  border: none;

  font-size: 1.5rem;
}

main {
  position: absolute;
  z-index: 9;
  top: var(--nav-height);
}
