@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Work+Sans:wght@300&display=swap');

$primary-dark-color: #2596be;
$primary-dark-darker-color: #1d7999;

$bg-dark-color: #121212;
$fg-dark-color: #d6ddd6;

$nav-bg-dark: #292a2f;

$fg-dark-darker-color: #a6a6a6;

$nav-height: 140px;
$aside-width: 200px;
$footer-height: 20vh;

$primary-font: 'Work Sans', sans-serif;
