@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Work+Sans:wght@300&display=swap');
:root {
  --primary-color: #2596be;
  --primary-darker-color: #1d7999;

  --bg-color: #121212;
  --fg-color: #d6ddd6;
  --nav-bg: #292a2f;

  --fg-darker-color: #a6a6a6;

  --nav-hight: 140px;
  --aside-width: 200px;
  --footer-height: 40vh;

  --headings-font: 'Work Sans', sans-serif;
}

body.dark {
  --primary-color: #2596be;
  --primary-darker-color: #1d7999;

  --bg-color: #121212;
  --fg-color: #d6ddd6;

  --nav-bg: #292a2f;

  --fg-darker-color: #a6a6a6;

  --nav-height: 140px;
  --aside-width: 200px;
  --footer-height: 40vh;

  --headings-font: 'Work Sans', sans-serif;
  --primary-font: 'Fredoka One', sans-serif;
}


body.light {
  --primary-color: #2596be;
  --primary-darker-color: #1d7999;

  --bg-color: #f2f2f2;
  --fg-color: #222222;

  --nav-bg: #c0cbff;

  --fg-darker-color: #3f3f3f;

  --nav-height: 140px;
  --aside-width: 200px;
  --footer-height: 40vh;

  --headings-font: 'Work Sans', sans-serif;
}