@import './vars.scss';

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100vw;
	height: $nav-height;

	background-color: $nav-bg-dark;

	> .wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		#logo-link {
			color: $primary-dark-color;

			font-size: 4vw;
			font-family: 'Fredoka One', sans-serif;
			text-decoration: none;

			cursor: pointer;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;

			user-select: none;

			-webkit-transform: translateY(-10%);

			-ms-transform: translateY(-10%);

			transform: translateY(-10%);
		}

		#nav-div {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			font-family: 'Work Sans', sans-serif;

			width: 50%;

			a {
				color: $fg-dark-color;
				-webkit-transition: color linear 0.09s;
				-o-transition: color linear 0.09s;
				transition: color linear 0.09s;

				text-decoration: none;
				font-size: 20pt;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				&:hover {
					color: $fg-dark-darker-color;

					&::after {
						content: ' ';
						display: block;

						position: relative;
						-webkit-animation: scale-x forwards 0.8s;
						animation: scale-x forwards 0.8s;
						height: 1px;
						background-color: $fg-dark-darker-color;
					}
				}
			}

			#nav-btn-div {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;

				button {
					cursor: pointer;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;

					-webkit-transition: background-color 0.2s;

					-o-transition: background-color 0.2s;

					transition: background-color 0.2s;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;

					&:hover {
						color: white;
						background-color: $primary-dark-darker-color;
					}

					&:active {
						-webkit-transform: scale(0.98);
						-ms-transform: scale(0.98);
						transform: scale(0.98);
					}

					&:focus {
						background-color: $primary-dark-darker-color;
						-webkit-box-shadow: 0 0 0 2px $primary-dark-color;
						box-shadow: 0 0 0 2px $primary-dark-color;
					}
				}
			}
		}
	}
}

@keyframes scale-x {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
