@import "./vars.scss";

// TODO: Try to solve overflow without using `overflow-x: hidden`

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-dark-color;
    color: $fg-dark-color;

    overflow-x: hidden;
}

.wrapper {
    position: relative;
    left: 10vw;

    width: 80vw;
    height: 100%;
}

.codespace-btn {
    padding: 1rem;

    background-color: $primary-dark-color;
    color: $fg-dark-color;

    border-radius: 13px;
    border: none;

    font-size: 1.5rem;
}

main {
    position: absolute;
    z-index: 9;
    top: $nav-height;
}

$ad-img-width: 100vw;
$ad-img-height: calc(100vh - $nav-height);

#bg-main-img {
    width: $ad-img-width;
    height: $ad-img-height;
    -o-object-fit: cover;
    object-fit: cover;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    user-select: none;
}

#homepage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: $ad-img-width;
    height: $ad-img-height;
    background: rgba(0, 0, 0, 0.3);
    background: -o-radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.681) 88%
    );
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.681) 88%
    );
}

$first-query-width: 1200px;
@media (max-width: $first-query-width) {
    #logo-div {
        font-size: calc($first-query-width / (100 / 4)) !important;
    }

    #nav-div {
        width: 70% !important;
    }
}
