@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Work+Sans:wght@300&display=swap");

$primary-dark-color: #2596be;
$primary-dark-darker-color: #1d7999;

$bg-dark-color: #121212;
$fg-dark-color: #d6ddd6;

$nav-bg-dark: #292a2f;

$fg-dark-darker-color: #a6a6a6;

$nav-height: 140px;

body {
  background-color: $bg-dark-color;
  color: $fg-dark-color;
}

.wrapper {
  position: relative;
  left: 10vw;

  width: 80vw;
  height: 100%;
}

.codespace-btn {
  padding: 1rem;

  background-color: $primary-dark-color;
  color: $fg-dark-color;

  border-radius: 13px;
  border: none;

  font-size: 1.5rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: $nav-height;

  background-color: $nav-bg-dark;

  > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo-div {
      color: $primary-dark-color;

      font-size: 4vw;
      font-family: "Fredoka One", sans-serif;

      user-select: none;

      transform: translateY(-10%);
    }

    #nav-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Work Sans", sans-serif;

      width: 50%;

      a {
        color: $fg-dark-color;
        transition: color linear 0.09s;

        text-decoration: none;
        font-size: 20pt;

        &:hover {
          color: $fg-dark-darker-color;

          &::after {
            content: " ";
            display: block;

            position: relative;
            animation: scale-x forwards 0.8s;
            height: 1px;
            background-color: $fg-dark-darker-color;
          }
        }
      }

      #nav-btn-div {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          cursor: pointer;

          &:hover {
            color: white;
            background-color: $primary-dark-darker-color;
          }
        }
      }
    }
  }
}

@keyframes scale-x {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
