@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Work+Sans:wght@300&display=swap");
$darker-ui: #121212;
$dark-ui: #292a2f;
$top-bar-height: 2.8vh;

html,
body {
    margin: 0;
    padding: 0;
}
.top-bar-wrapper {
    width: 100vw;
    height: $top-bar-height;
    background-color: $darker-ui;
    user-select: none;

    .menu-wrapper {
        float: left;
        display: inline-flex;
        justify-content: space-between;
        font-size: 2.5vh;
        width: 20vw;
        :hover {
            background-color: $dark-ui;
            border-radius: 7%;
        }
    }
    .profile-icon {
        background-color: red;
        float: right;
        border-radius: 50%;
        height: 2.3vh;
        width: 2.3vh;
    }
}
